@media screen and (max-width: 1550px) {
  .header {
    min-height: 89rem;
  }
  .header-content__title {
    font-size: 4.5rem;
  }
  .header-content {
    margin-top: 6rem;
  }
  .service-box__icon {
    margin-right: 1.5rem;
  }
  .service-box__text__title {
    font-size: 3rem;
  }
  .service-box__text__descripton {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    min-height: 86rem;
  }
  .header-content {
    margin-top: 7rem;
  }
  .infos {
    display: none;
  }
  .header-content__caption {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .list__item {
    margin-right: 6rem;
  }
  .service-box {
    margin-bottom: 5rem;
  }
  .service-box:last-child {
    margin-bottom: 0;
  }
  .product-card__box {
    margin-bottom: 8rem;
  }
  .product-card__box:last-child {
    margin-bottom: 0;
  }
  .product-title {
    margin-bottom: 2.5rem;
  }
  .reference__img__title {
    font-size: 5rem;
  }
  .title-1 {
    left: 9rem;
    bottom: 15rem;
  }
  .title-2 {
    left: 8rem;
    bottom: 10rem;
  }
  .title-3 {
    left: 12rem;
    bottom: 31rem;
  }
  .reference__img::before {
    border-radius: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .header {
    min-height: 90rem;
    mask-image: none;
    background-position: left center;
  }
  .header-content__title {
    font-size: 4rem;
  }
  .header-content__caption {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .header-content-box {
    width: 42rem;
  }
  .list {
    display: flex;
    position: absolute;
    top: 100%;
    background: rgba(42, 54, 70, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    flex-direction: column;
    border-radius: 0.5rem;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in;
  }
  .list--show {
    height: 24rem;
    overflow: visible;
  }
  .list__item {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .list__item:first-child {
    margin-top: 2rem;
  }
  .product-title {
    margin-bottom: 2rem;
  }
  .reference-photo {
    flex-direction: column;
  }
  .reference__img::before {
    height: 99%;
    border-radius: 5rem;
  }
  .reference__img__title {
    font-size: 6rem;
  }
  .title-1 {
    left: 18rem;
    bottom: 24rem;
  }
  .title-2 {
    left: 17rem;
    bottom: 14rem;
  }
  .title-3 {
    left: 21rem;
    bottom: 48rem;
  }
  .reference-content__title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .header-content__title {
    font-size: 3.5rem;
  }
  .header-content__title {
    font-size: 3rem;
  }
  .header-content__caption {
    font-size: 1.8rem;
  }
  .header-content-box {
    width: 35rem;
  }
  .header-content__caption {
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .nav-toggle__icon {
    display: flex;
  }
  .service-box {
    margin: 0 auto 5rem auto;
  }
  .product-card {
    justify-content: center;
    gap: 3rem;
  }
  .product-title {
    text-align: center;
    font-size: 5.5rem;
    margin-bottom: 1.5rem;
  }
  .reference__img__title {
    font-size: 5rem;
  }
  .title-1 {
    left: 12rem;
    bottom: 18rem;
  }
  .title-2 {
    left: 10rem;
    bottom: 11rem;
  }
  .title-3 {
    left: 15rem;
    bottom: 35rem;
  }
  .reference-photo {
    margin-top: 8rem;
  }
  .reference__img::before {
    height: 98.5%;
    border-radius: 3rem;
  }
  .reference-content__title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  .reference-content__descriptoin {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .header {
    min-height: 115rem;
  }
  .header-content-box {
    width: 39rem;
  }
  .header-content__caption {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .product-title {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 520px) {
  .reference__img__title {
    font-size: 4rem;
  }
  .title-1 {
    left: 10rem;
    bottom: 16rem;
  }
  .title-3 {
    left: 13rem;
    bottom: 30rem;
  }
  .title-2 {
    bottom: 9rem;
  }
  .reference-content__title {
    font-size: 3.5rem;
  }
  .reference-content__descriptoin {
    font-size: 1.8rem;
  }
  .reference-photo {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 440px) {
  .header-content__title {
    font-size: 2.8rem;
  }
  .header-content-box {
    width: 35rem;
  }
  .header-content__caption {
    margin-bottom: 2rem;
  }
  .title-1 {
    left: 8rem;
    bottom: 12rem;
  }

  .title-2 {
    left: 8rem;
    bottom: 8rem;
  }
  .title-3 {
    left: 12rem;
    bottom: 25rem;
  }
  .reference__img::before {
    height: 98%;
    border-radius: 3rem;
  }
  .reference-content__title {
    font-size: 3rem;
  }
  .reference-content__descriptoin {
    margin-top: 1.5rem;
  }
  .reference-photo {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 365px) {
  .header-content__title {
    font-size: 2.6rem;
  }
  .header-content__caption {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .header-content-box {
    width: 32rem;
  }
  .header-content-box {
    width: 30rem;
  }
  .header-content-box__icon {
    width: 3rem;
    height: 3rem;
  }
  .service-box__text__title {
    font-size: 2.8rem;
  }
  .service-box__text__descripton {
    font-size: 1.6rem;
  }
  .product-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .product-cpation__text {
    font-size: 1.8rem;
  }
  .title-1 {
    left: 6rem;
    bottom: 11rem;
  }
  .reference__img__title {
    font-size: 3rem;
  }
  .title-2 {
    left: 6rem;
    bottom: 7rem;
  }
  .title-3 {
    left: 9rem;
    bottom: 19rem;
  }
  .reference__img::before {
    border-radius: 2rem;
  }
  .reference-photo {
    margin-top: 5rem;
  }
}
